{% extends 'base.html' %}
{% block title %}
    {{gate_info.name}}
{% endblock title %}
{% block customstyle %}
    <style>
        code{
            text-align: left;
            font-size:1.4rem;
        }
        pre{
            background-color:#212529;
            color:aliceblue;
            padding:1rem;
        }
        .gate-desc{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.1rem;
            margin-top:2rem;
            text-align: left;
        }
        .code-block{
            margin-top:0.5rem;
        }
        .page-subtext{
            margin-top: 1rem;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
{% endblock customstyle %}
{% block bodycontent %}
<h3 class="page-title">
    <dl>
        <dt><a href="{{gate_info.loc}}">{{gate_info.curr}}</a></dt>
        <dd> - {{gate_info.name}}</dd>
    </dl>
</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="..\..\..\{{gate_info.url}}" alt="{{gate_info.name}}" width=70%>
        </div>
        <div class="col specs">
            <h4 class="page-subtext">Syntax</h4>
            <div class="code-block">
                <code>
<pre>{{gate_info.syntax}}</pre>
                </code>
            </div>
            <h4 class="page-subtext">Example</h4>
            <div class="code-block">
                <code>                    
<pre>{{gate_info.code}}</pre>
                </code>
            </div>

                <p class="gate-desc">{{gate_info.desc}}</p>
        </div>
    </div>
</div>
{% endblock bodycontent %}