{% extends 'base.html' %}
{% block title %}
    
{% endblock title %}
{% block customstyle %}
<style>
    .page-content{
      text-align: left;
      margin:4rem 6rem;
      padding-bottom:5rem;
      font-size:1.2rem;
    }
    .sub-title{
      font-family: 'Abyssinica SIL', serif;
      font-weight:600;
      margin-left:-2rem;
    }
        .row{
          margin:1.4rem 0;
        }
    code{
        text-align: left;
        font-size:1.3rem;
    }
    pre{
        background-color:#212529;
    color:aliceblue;
    padding:1rem;
}
.code-block{
    margin-top:0.5rem;
}
</style>
{% endblock customstyle %}
{% block bodycontent %}

{% if content.delay %}
<div class="container page-content">
  <div class="row">
      <div class="col">
        <h4 class="sub-title">Gate Delay Specifications Keywords</h4>
        <p>The Gate Delay are used to specify the Propogation delay of each and every Gate element in the circuit under simulation.
          It can be called in the program after initailizing the circuit by using the keyword <code><pre>DELAY</pre></code>
          <br>
          By default the value of this propogation delay is 1 nanoseconds. <b>The Propogation delay has to be specified in multiples of 
            1 nanoseconds.</b>
        </p>
        <p>
          Therefore, 
          <br>
          AND 1.5n <i class="bi text-danger bi-x-circle"></i> is not usable. <br>
          Correct usage would be 
          <br>
          'AND 1n' or 'AND 2n' <i class="bi text-success bi-check2"></i> Either of them can be used.
        </p>
      </div>
    </div>
      <div class="row">
        <p>Some usage examples are shown below!</p>
        <div class="col">
          <div class="code-block">
            <code>
<pre>DELAY
AND 2n    ([Gate_name] in general)</pre>
            </code>
          </div>
        </div>
        <div class="col">
          <p>The [Gate_name] (or AND in this case) is to access all the AND Gates present in the Circuit and initialize with 2 nanoseconds of propogation Delay.</p>
        </div>
      </div>
    <div class="row">
      <div class="col">
        <div class="code-block">
          <code>
<pre>AND A B C
# Rest of the code..
DELAY
C 2n    ([Ouput_Port] in general)</pre>
          </code>
        </div>
      </div>
      <div class="col">
        <p>The [Output_Port] (or the AND gate with the output port named 'C' in this case) sets only the provided gate's propogation delay which is specified by its Output Port.
          Here the And Gate whose output port is C is accessed and assigned with a Propogation Delay of 2 nanoseconds.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="code-block">
          <code>
<pre>AND A B C # 2 input AND gate
AND C B E F # 3 input AND gate
# Rest of the code..
DELAY
AND2 2n
AND3 4n</pre>
          </code>
        </div>
      </div>
      <div class="col">
        <p>Here the AND2 implies the two input AND gates are intialized with the specified propogation delay.
          Similarly the AND3 implies the AND gates with 3 inputs are initialized with the specified propogation delay.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5>Precedence of input DELAY specifications: </h5>
      </div>
      <div class="col">
        <p></p>
      </div>
    </div>
  </div>
{% elif content.control %}
<div class="container page-content">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endif %}

<script>
  document.getElementById("keyword").classList.add("active")
</script>
{% endblock bodycontent %}