{% extends 'base.html' %}
{% block title %} Keywords
{% endblock title %}
{% block customstyle %}
  <style>
    .page-content{
      text-align: left;
      margin:1rem 6rem;
      font-size:1.2rem;
    }
    .sub-title{
      font-family: 'Abyssinica SIL', serif;
      font-weight:600;
      margin-left:-2rem;
    }
        .row{
          margin:1.4rem 0;
        }
  </style>
{% endblock customstyle %}
{% block bodycontent %}
    <h1 class="page-title">Keywords</h1>
    <div class="container page-content">
      <div class="row">
        <h4 class="sub-title">Circuit Building Keywords</h4>
        <div class="col">
          <p>
            <a href="/circuits">Check out the Available Circuits section for circuit building keywords!</a>
          </p>
        </div>
      </div>
      <div class="row">
        <h4 class="sub-title">Gate Delay Specifications Keywords</h4>
        <div class="col">
          <p>
            <a href="/keywords/delay/">Learn how to specify propogation delay to your logical circuit elements here!</a>
          </p>
        </div>
      </div>
      <div class="row">
        <h4 class="sub-title">Input Control Specification Keywords</h4>
        <div class="col">
          <p>
            <a href="/keywords/control/">Learn how to control the Input signals for circuit simulation here!</a>
          </p>
        </div>
      </div>
      <div class="row">
        <h4 class="sub-title">Output Specification Keywords</h4>
        <div class="col">
          <p>
            <a href="/keywords/output/">Get to know how to produce simulation Timing waveform results as Image here!</a>
          </p>
        </div>
      </div>
      <div class="row">
        <h4 class="sub-title">Simulation Time, Scale and END</h4>
        <div class="col">
          <p>
            <a href="/keywords/simtime/">Learn how to specify the Simulation time, scale for the time axis in output waveform generation and how to specify end of code.</a>
          </p>
        </div>
      </div>
    </div>
    <script>
        document.getElementById("keyword").classList.add("active")
      </script>
{% endblock bodycontent %}