{% extends 'base.html' %}
{% block title %} Sequential circuits
{% endblock title %}
{% block customstyle %}
    <style>
        td.gate_name{
            width:45%;
        }
    </style>
{% endblock customstyle %}
{% block bodycontent %}
<h3 class="page-title">
    <dl>
        <dt><a href="/circuits">In-built Circuit</a></dt>
        <dd> - Sequential Circuits</dd>
    </dl>
</h3>
<div class="table-responsive">
  <table class="table table-bordered">
      <tbody>
          {% for gate in gate_data %}
          {% if 'Seq_ckts' == gate.loc %}
          <tr>
              <td class="gate_name align-middle"><a href="/circuits/sequential/{{gate.name_w}}" class="link-dark">{{gate.name}}</a></td>
              <td><a href="/circuits/sequential/{{gate.name_w}}" class="link-dark"><img src="..\..\{{gate.url}}" alt="{{gate.name}}" srcset=""></a></td>
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
    </table>    
</div>
<script>
  document.getElementById("navbarDropdown").classList.add("active")
</script>
{% endblock bodycontent %}